@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Onest:wght@100..900&display=swap'); 
/* ==================================== */
/* FUENTE
/* ==================================== */
html{
    font-family: "Onest", system-ui, sans-serif;
    font-weight: 600;
    font-feature-settings: normal;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    scroll-behavior: smooth;
    color: var(--primary-color);
}
/* ==================================== */
/* FONDO
/* ==================================== */
:root{
    --primary-color:#FFFCF2;
    --secondary-color:#fbf5ebbc;
    --third-color:rgb(254 240 138);
    --title-color:#252422;
    --contrast-color:rgb(59 130 246);
    --back-color:rgba(200, 153, 219, 0.1);
    font-family: "Domine";
   background-image: linear-gradient(60deg, #000000 0%, #3c414a 100%);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    
}

/* ==================================== */s
/* ==================================== */

header{
    display: flex;
    flex-direction: column;
}

header h1{
    align-self: center;
    color: var(--primary-color);
    font-weight:900;
}

header p{
    align-self: center;
    color: var(--secondary-color);
    font-weight:800;
}

a{
    text-decoration: none;
    color: var(--contrast-color);
    font-weight: 800;
}

a:hover{
   text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px;
}

strong{
    color: var(--third-color);
    font-weight: bold;
}

#subir{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--contrast-color);
    color: white;
    padding: 10px 15px;
    text-decoration: none; 
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navegador{
    display: flex;
    list-style-type: none;
    justify-self: center;
    gap: 2rem;
    
}

.navegador li{
    flex-direction: row;
    font-size: 1.2rem;
}

.github{
    background-image: url(img/github.png);
    width: 50px;            
    height: 50px;
    display: inline-block;
    background-size: cover; 
    background-repeat: no-repeat;
    vertical-align: middle;
}
.linkedin{
    background-image: url(img/linkedin.png);
    width: 50px;            
    height: 50px;
    display: inline-block;
    background-size: cover; 
    background-repeat: no-repeat; 
    vertical-align: middle;
}

.correo{
    background-image: url(img/correo.png);
    width: 50px;            
    height: 50px;
    display: inline-block;
    background-size: cover; 
    background-repeat: no-repeat; 
    vertical-align: middle;
}

/* ==================================== */
/* MAIN
/* ==================================== */
.sobre-mi{
    display: flex;
    justify-content: space-around;
    align-items:center;
    color: var(--primary-color);
}

.iconos{
    display: flex;
    justify-content: center;
}

.foto-perfil{
    width: 25rem;
    border-radius:50%;
    padding: 5rem;
}

.explicacion{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.cabecera{
    flex-direction: column;
}

.texto{
    display: flex;
    flex-direction: column;
    font-size:large;
    line-height: 2rem;
}

.proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.proyectos img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 0.3rem;
}
.proyectos img:hover{
     box-shadow: 0 5px 12px var(--third-color);
     cursor: pointer;
}
h2{
    color: var(--primary-color);
    margin-top: 3rem;
    align-self: center;
}
/*
section{
    display:flex;
    flex-direction: column;
}

div{
    display: flex;
    background-color: var(--back-color);
    border-radius: 0.5rem;
    margin: 0px 1.2rem 0px 1.2rem;
}

ul{
    list-style-type: none;
}



h3{
    color: var(--third-color);
}

form{
    margin-top: 1rem;
    gap: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 250px;
    height: auto;
}

button{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px;
    background-color: var(--third-color);
}

button:hover{
    background: var(--contrast-color);
}

*/
/*ID, CLASES Y HERENCIAS ===============*/
/*
#sobre-mi{
    flex-direction: column;
    align-items: center;
}

.foto-perfil{
    width: 8rem;
    height: auto;
    padding: 2rem;
}

section p{
    color: var(--secondary-color);
}




figure img{
    width: 300px;
    height: auto;
    object-fit: contain;
}

figcaption{
    color:var(--third-color);
}

#servicios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#habilidades{
    flex-direction: column;
    align-items: center;
}

#habilidades li{
    color: var(--secondary-color);
}

#habilidades h3{
    color: var(--third-color);
}

meter::-webkit-meter-optimum-value {
    background-color: var(--third-color);
}

#educacion{
    align-items: center;
    flex-direction: column;
}

#educacion thead{
    color: var(--third-color);
}

#educacion tbody{
    color: var(--secondary-color);
}

#experiencia{
    flex-direction: row;
    justify-content: space-evenly;
}

.laboral{
    color: var(--contrast-color);
}

#intereses{
    flex-direction: row;
    justify-content: space-evenly;
}

#intereses ul{
    color: var(--secondary-color);
}

#contacto{
    display: flex;
    justify-content: center;
}

#contacto label{
    color: var(--primary-color);
}

#php{
    width: 150px;
}

.imagenes{
    display: flex;
    align-items: center;
    gap: 2rem;
    background:none;
    box-shadow: none;
}


/* ==================================== */
/* FOOTER
/* ==================================== */

footer{
    margin-top: 2rem;
    color: var(--secondary-color);
}



/* ==================================== */
/* MEDIA QUERIES
/* ==================================== */

@media screen and (max-width:800px) {

    .navegador li{
        font-size: 1rem;
    }
}

@media screen and (max-width:620px) {
    :root{
        font-size: 0.8rem;
    }

    img{
        width: 150px;
    }

    #php{
        width: 100px;
    }
}