@import url('https://fonts.googleapis.com/css2?family=Onest:wght@600&family=Source+Sans+3:wght@400&display=swap');


:root{
    --title-font: 'Onest', sans-serif;
    --body-font: 'Source Sans 3', sans-serif;
    --contrast-color: rgb(0, 179, 255);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    scroll-behavior: smooth;
}
/*CONTENEDOR PRINCIPAL*/
.container{
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 1.6rem;
    font-family: var(--body-font);
}

/*HEADER*/
header{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(min-content, 16rem)) minmax(10rem, 1fr);
    grid-template-rows: repeat(3, min-content);
    color: var(--contrast-color);
}

.header-titulo{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: center;
    padding-left: 1rem;
    font-family: var(--title-font);
}


.header-menu{
    grid-column: 7/ 9;
    grid-row: 1 / 2;    
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
}

.header-menu a::before{
    content: '|';
    margin-right: 0.5rem;
}


.header-menu a:hover{
    color: var(--contrast-color);
    transform: scale(1.05);
    transition: 0.3s;
}

header h1{
    font-size: 2.2rem;
}

header a{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}


/*MAIN*/

main{
    grid-column: 1 / -1;
    grid-row: 2  / -3;
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(min-content, 16rem)) minmax(10rem, 1fr);
    grid-template-rows: repeat(2    , min-content);
}

/* SECTION ESLOGAN */
.eslogan{
    grid-column: 2 / -2;
    grid-row: 3 / 5;
    font-size: 1rem;
    color: white;
    position: relative;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.eslogan::before{
    content: "";
    background-image: url('img/dashboard.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.eslogan p{
    position: relative;
    z-index: 1; 
    color: white;
}

/*SECTION CURSOS */

.cursos{
    grid-column: 3 / -3;
    grid-row: 5 / 7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: repeat(2, min-content);
    gap: 2rem;

}

.card img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.card img:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}


.card{
    background-color: #afabab71;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card h2{
    font-family: var(--title-font);
    margin-bottom: 0.5rem;
}
.card p{
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

.card button{
    background-color:var(--contrast-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.card button:hover{
    background-color: rgb(0, 140, 200);
    transition: 0.3s;
}